nav{ 
    background-color: #dbb4c4;

    ul li a{
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        color: black !important; 
    }

    img{
        width: 2em;
    }
}