nav{ 
    background-color: #dbb4c4;

    #navTitle{
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    }

    ul li a{
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        color: black !important; 
    }
}